<ion-header>
  <ion-toolbar>
    <ion-title>
      Artículos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="articulos.length === 0">
    <ion-text>
      <h2>No hay artículos disponibles</h2>
    </ion-text>
  </div>

  <ion-list>
    <ion-item class="card-wrapper" *ngFor="let articulo of articulos">
      <div class="checkbox-wrapper">
        <ion-checkbox [(ngModel)]="articulo.selected" (ionChange)="actualizarArticulo(articulo)"></ion-checkbox>
      </div>
      <div class="content-wrapper">
        <div class="info-wrapper">
          <p>{{ articulo.title }}</p>
        </div>
        <div class="button-wrapper">
          <ion-button color="danger" (click)="mostrarAlertaConfirmacion(articulo)">Borrar de la lista</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
