// ion-list {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   ion-item.card-wrapper {
//     width: 33%;
      
//       img {
//         width: 100%;
//         object-fit: cover;
//         max-height: 85px;
//       }
      
//       // ion-card-header {
//       // }
      
//       ion-card-title a {
//         color: lightblue;
//         text-decoration: none;
//       }
      
//       ion-card-content p {
//         font-size: 14px;
//         color: #666;
//       }
//     // }
//   }
  
// } 

ion-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column; /* Esto coloca los elementos hijos en una columna (vertical) */
  margin: 20px 10px; /* Agrega separación entre los artículos */
  // border: 1px solid #ddd; /* Solo un ejemplo de borde para ver los artículos */
  // border-radius: 8px;
  padding: 10px;
}


.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Coloca el checkbox a la izquierda */
  align-items: center; /* Alinea el checkbox verticalmente */
  margin-bottom: 10px; /* Espaciado entre el checkbox y el contenido */
  margin-right: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column; /* Coloca los elementos dentro de este div en columna */
}

.info-wrapper {
  display: flex;
  flex-direction: column; /* Coloca el título y la imagen en columna */
  margin-bottom: 10px; /* Espaciado entre el título y la imagen */
  cursor: default;
}

button-wrapper {
  display: flex;
  justify-content: flex-start; /* Coloca el botón a la izquierda */
}

img {
  max-width: 100%; /* Asegura que la imagen no se desborde */
  height: auto; /* Mantiene las proporciones de la imagen */
  margin-top: 10px; /* Separación entre el título y la imagen */
}
